[sb_local]
host = 192.168.1.10
port = 3306
user = root
password = senslope
schema = senslopedb

[gsm_pi]
host = 192.168.1.10
port = 3306
user = root
password = senslope
schema = comms_db


[ubuntu75_pysys_local]
host = 192.168.1.10
port = 3306
user = root
password = senslope
schema = senslopedb

[staff1]
host = 192.168.1.10
port = 3306
user = root
password = senslope
schema = senslopedb

[smsdb_remote]
host = 192.168.1.10
port = 3306
user = root
password = senslope
schema = senslopedb
